In [1]:
import pandas as pd

job_df = pd.read_csv('data/joined_data.csv')

Fill in all missing values in the work_from_home column to be False.

In [7]:
job_df['work_from_home'].fillna(False, inplace = True)

Create a new column for each possible skill specified in the description_tokens column

In [17]:
from sklearn.preprocessing import MultiLabelBinarizer
from ast import literal_eval

mlb = MultiLabelBinarizer()

# convert description_tokens into column of lists
job_df['description_tokens'].apply(literal_eval)

# encode each skill as a unique column
binary_columns = mlb.fit_transform(job_df["description_tokens"].tolist())

# join on initial dataframe
enc_skill_df = job_df.join(pd.DataFrame(binary_columns, columns=mlb.classes_, index=job_df.index))

In [20]:
binary_columns

array([[1, 1, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

Create a new dataframe that drops all rows that contain null values in the salary_standardized column from the newly engineered dataframe above

In [31]:
# null values 
enc_skill_df['salary_standardized'].isna().sum()

8977

In [45]:
cleaned_salaries = enc_skill_df.dropna(subset=['salary_standardized'])
cleaned_salaries.to_csv('data/cleaned_data.csv')
cleaned_salaries['salary_standardized'].isna().sum()

0